# Visual Studio
.vs/
*.user
*.suo
*.userprefs

# Compilados y Temporales (¡Muy importante!)
bin/
obj/
Debug/
Release/

# Archivos de entorno (Seguridad)
appsettings.Development.json
appsettings.local.json
.env

# logos y archivos de recursos
*.png
*.jpg